@model WebsiteBanHang.Context.Product

@{
    ViewBag.Title = "Detail";
}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $("#addtocart").click(function () {
            var model = {};
            //lấy id sản phẩm
            model.Id = @Model.Id;
            // lấy số lượng đặt hàng
            model.Quantity = $("#ipQuantity").val();
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data:  JSON.stringify(model) ,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    alert("Thêm giỏ hàng thành công!")
                    $('#CartCount').text(@Session["count"] + 1);
                },
                error: function () {
                    alert("Lỗi trong khi thêm vào giỏ hàng!");
                }
            });
            return false;
        });
    });
    </script>
<br/>
<br />

@*<div>
    <h4>Sản Phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
           @Html.DisplayFor(model => model.Avatar)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@{
    ViewBag.Title = "Index";
}*@




<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="index.html">Trang chủ</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <a href="courses.html">Sản phẩm</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <p>

                    <img src="~/Content/images/@Html.DisplayFor(model => model.Avatar)" alt="Image" class="img-fluid">
                </p>
            </div>
            <div class="col-lg-5 ml-auto align-self-center">
                <h2 class="section-title-underline mb-5">
                    <span>@Html.DisplayFor(model => model.Name)</span>
                </h2>

                <p><strong class="text-black d-block">@Html.DisplayNameFor(model => model.Price)</strong> @Html.DisplayFor(model => model.Price)</p>

                <p>
                    <div class="form-group col-md flex-grow-0">
                        <div class="input-group mb-3 input-spinner">
                            <input type="text" id="ipQuantity" class="form-control" value="1">
                            <a href="" id="addtocart" class="btn btn-primary rounded-0 btn-lg px-5">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                    

                </p>
            </div>
        </div>
    </div>
</div>

<div class="section-bg style-1" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-mortarboard"></span>
                <h3>Our Philosphy</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea? Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-school-material"></span>
                <h3>Academics Principle</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                    Dolore, amet reprehenderit.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-library"></span>
                <h3>Key of Success</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                    Dolore, amet reprehenderit.
                </p>
            </div>
        </div>
    </div>
</div>


